<div class="jumbotron">
    <h1>Productos</h1>
    {{#if allProducts}}
    <ul>
        {{#each allProducts}}
        <li>item: {{this.nombreProd}}</li>
        {{/each}}
    </ul>
    {{else}}
    aqui no hay para ver...
    {{/if}}
    <br>
</div>
<a href="cargaProductos">ir a carga de productos</a>